/* eisele.xyz
 * 2021-04-08
 */

body {
	color: rgba(0, 0, 0, 0.8);
	font-family: -apple-system, Helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 0;
}
a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: underline;
}
a:hover {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
.mono {
	font-family: courier;
}
#index {
	max-width: 600px;
	margin: 70px auto 100px auto;
}
#about {
	margin-top: 25px;
}
#contact {
	font-family: courier;
	margin: 0;
	padding: 0;
}
table#links {
	list-style-type: none;
	padding-left: 0;
	margin: 15px 0 20px 0;
	font-weight: bold;
}
table#links td {
	font-family: -apple-system, helvetica, arial, sans-serif;
	display: inline-flex;
	margin-right: 20px;
}
table#links td a {
	color: rgba(0, 0, 0, 0.8);
	text-decoration: none;
}
table#links td a:hover {
	text-decoration: underline;
}

/* Mobile.
 */
@media screen and (max-width: 600px) {
	body {
		margin: 0 7px 0 7px !important;
	}
}
